.font-weight{
	border-style: solid;
	width: 7%;
	padding: 2px;
	text-align: center;
		margin-top: 10px;
	float: left;
}

.qing{
	border-style: solid;
		width: 7%;
	padding: 2px;
	text-align: center;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
}
.lycontent{
	padding-left: 50px;
	padding-right: 50px;
	border-style: solid none solid none;
	margin-top: 60px;
}

.tp{
	margin-top: 10px;
	border-style: solid none solid none;
	width: 100%;
}
.wj{
		margin-top: 10px;
	border-style: solid none solid none;

	width: 100%;
}
.ly{
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
}
.username{
	border-style: none none solid none;
}