{ margin:0; padding:0;}
    #quanshangchuan{
        width: 100%;
      }
      #upfBox{
    
        width:100%;

      }

      #inputfBox{
        position: relative;
        overflow: hidden;
      }
      #inputfBox input{
        width: 114%;
        height: 40px;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: -14%;
        
      }
      .imgDelete{
        cursor: pointer;
      }
      #imgfBox{
        text-align: left;
      }
      .imgContainer1{
        display: inline-block;
        
        margin-left: 1%;
        position: relative;
        box-sizing: border-box;
      }
      .imgContainer1 a{
        cursor: pointer;
      }
  

  
    