<include file="Static/min-header"/>
<div class="wrapper">
  <include file="Static/breadcrumb"/>
  <section class="content">
   <div class="row">
    <div class="col-xs-12">
      <div class="box">

       <!-- /.box-header -->
       <div class="box-body">              
        <div class="row">
          <div class="col-sm-12">





          <input id='mybtn' class="btn btn-primary" type='button' value="删除选中工单" <if condition="$rid eq 6"> style='display: none;'</if>>
          <select id='checkstatus'  class="form-control" style="width:200px;"> 
          <option value="0" >所有工单</option>
          <option <?php if($_GET[status]==1) echo("selected");?> value="1" >未处理</option>
            <option <?php if($_GET[status]==2) echo("selected");?> value="2" >在处理</option>
            <option <?php if($_GET[status]==3) echo("selected");?> value="3" >待回复</option>
            <option <?php if($_GET[status]==4) echo("selected");?> value="4" >已完成</option>
          </select>

           <select id='checkrank'  class="form-control" style="width:200px;"> 
          <option value="0" >所有优先级</option>
          <option <?php if($_GET[rank]==1) echo("selected");?> value="1" >紧急</option>
            <option <?php if($_GET[rank]==2) echo("selected");?> value="2" >高</option>
            <option <?php if($_GET[rank]==3) echo("selected");?> value="3" >一般</option>
            <option <?php if($_GET[rank]==4) echo("selected");?> value="4" >低</option>
          </select>


                    <select id='checkleibie'  class="form-control" style="width:200px;"> 
          <option value="0" >所有类型</option>
          <option <?php if($_GET[leibie]==1) echo("selected");?> value="1" >类别1</option>
            <option <?php if($_GET[leibie]==2) echo("selected");?> value="2" >类别2</option>
            <option <?php if($_GET[leibie]==3) echo("selected");?> value="3" >类别3</option>
            <option <?php if($_GET[leibie]==4) echo("selected");?> value="4" >类别4</option>
          </select>
          <input id='btn1' type='button' class="btn btn-primary" value="查询">

          <if condition='empty($list) eq true'><div style="text-align: center;"><strong>暂时没有工单</strong></div>
           <else />
            <table id="list-table" class="table table-striped singcms-table" role="grid" aria-describedby="example1_info" style="text-align: center;">
             <thead>
               <tr role="row" align="center">
                 <td width="3%" <if condition="$rid eq 6"> style='display: none;'</if>><b>全选</b><input id='allselect' type="checkbox"  onclick="checkAll()"></td>
                 <td width="3%"><b>状态</b></td>
                 <td width="8%"><b>标题</b></td>
                 <td width="8%"><b>级别</b></td>
                 <td width="15%"><b>操作</b></td>

               </tr>
             </thead>
             <tbody>
              <foreach name="list" item="vo" key="k" >
                <tr role="row">
                  <td <if condition="$rid eq 6"> style='display: none;'</if>><input type="checkbox" value='{$vo.id}' name = 'dcheckbox'></td>
                  
                  <td>
                <div <if condition="$vo['status'] eq 1"> class="label label-danger"
                   <elseif condition="$vo['status']  eq 2"/> class="label label-warning"
                   <elseif condition="$vo['status']  eq 3"/> class="label label-info"
                   <elseif condition="$vo['status']  eq 4"/> class="label label-success"
                 </if>> <if condition="$vo['status'] eq 1">未处理
                   <elseif condition="$vo['status']  eq 2"/>处理中
                   <elseif condition="$vo['status']  eq 3"/>待回复
                   <elseif condition="$vo['status']  eq 4"/>已完成
                 </if>
                 </div>
               </td>
               <td>{$vo.title}</td>
               <td>
                 <if condition="$vo['rank'] eq 1" > <p class="label label-danger">紧急</p>
                   <elseif condition="$vo['rank']  eq 2"/><p class="label label-warning">高</p>
                   <elseif condition="$vo['rank']  eq 3"/><p class="label label-info">一般</p>
                   <else /><p class="label label-success">低</p>
                 </if>
               </td>
               
               <td>
               <input type="hidden" name="wid"  value="{$vo.id}">
               <input type='button'  class="btn btn-primary"  attr-id='{$vo.id}' id='checkone' name='check'  value="查询">

               </td>
             </tr>
     
           </foreach>
 
           </tbody>

           </table>
           </if>
           <ul class="pagination">{$pageRes}</ul>
         </section>

       </div>

     </body>

     <script src='__PUBLIC__/js/workorder/allwork.js' type="text/javascript"></script>
     <script type="text/javascript">
      var SCOPE = {
        'save_url' : '__ROOT__/index.php/Home/Workorder/allwork',
        'jump_url' : '__ROOT__/index.php/Home/Mywork/myworkorder',
        'edit_url' : '__ROOT__/index.php/Home?c=OneWork&a=checkcontent',
        'edit2_url' : '__ROOT__/index.php/Home?c=Mywork&a=myworkorder',
      };
    </script>
   
    </html>