<include file="Static/min-header"/>
<div class="wrapper">
  <include file="Static/breadcrumb"/>
  <section class="content">
   <div class="row">
    <div class="col-xs-12">
      <div class="box">

       <!-- /.box-header -->
       <div class="box-body">              
        <div class="row">
          <div class="col-sm-12"> 
     <select id='status' name="status" class="form-control" style="width:200px;">
                  <option <if condition="$onelist['status'] eq 1" >selected="selected" </if> value="1">将工单转至未处理</option>
                  <option <if condition="$onelist['status'] eq 2" >selected="selected" </if>   value="2">将工单转至正在处理</option>
                  <option  <if condition="$onelist['status'] eq 3" >selected="selected" </if> value="3">将工单转至等待回复</option>
                  <option  <if condition="$onelist['status'] eq 4" >selected="selected" </if>  value="4">将工单转至已处理</option>
                </select>
     <select id='rank' name="rank" class="form-control" style="width:200px;">
                  <option <if condition="$onelist['rank'] eq 1" >selected="selected" </if>   value="1">紧急</option>
                  <option <if condition="$onelist['rank'] eq 2" >selected="selected" </if> value="2">高</option>
                  <option  <if condition="$onelist['rank'] eq 3" >selected="selected" </if> value="3">一般</option>
                  <option  <if condition="$onelist['rank'] eq 4" >selected="selected" </if> value="4">低</option>
                </select>
                <input type="button"  class='btn-info' id='setsr' value='提交'>
<input type="hidden" id="getid" value="{$gid}">



            

<div>
            <p class="font-weight"
             <if condition="$onelist['status'] eq 1" > style='color:red;border-color:red;'
             <elseif condition="$onelist['status']  eq 2"/>style='color:orange;border-color:orange;'
             <elseif condition="$onelist['status']  eq 3"/>style='color:#CCCC00;border-color:#CCCC00;'
             <elseif condition="$onelist['status']  eq 4"/>style='color:green;border-color:green;'
           </if>

            ><if condition="$onelist['status'] eq 1" >未处理
             <elseif condition="$onelist['status']  eq 2"/>处理中
             <elseif condition="$onelist['status']  eq 3"/>待回复
             <elseif condition="$onelist['status']  eq 4"/>已完成
           </if>
         </p>

        <p class="qing"
     <if condition="$onelist['rank'] eq 1" > style='color:red;border-color:red;'
             <elseif condition="$onelist['rank']  eq 2"/>style='color:orange;border-color:orange;'
             <elseif condition="$onelist['rank']  eq 3"/>style='color:#CCCC00;border-color:#CCCC00;'
             <elseif condition="$onelist['rank']  eq 4"/>style='color:green;border-color:green;'
           </if>


         ><if condition="$onelist['rank'] eq 1" >紧急
           <elseif condition="$onelist['rank']  eq 2"/>高
           <elseif condition="$onelist['rank']  eq 3"/>一般
           <else/>低
         </if></p>
</div>

 

<div class = "panel panel-default" style="margin-top: 50px">
<div class="panel-heading">{$onelist['title']}</div>
<div class="panel-body">
<p>{$onelist.content}</p>
</div>
<ul class="list-group">
        <li class="list-group-item"> 
        <volist name='imgarr' id='vo'>
          <img class="img-rounded" src='__ROOT__/upload/images/{$vo}' style="width: 100px;height: 100px;" onclick="imgDisplay(this)">
        </volist>
        </li>
        <li class="list-group-item">
           <volist name='filearr' id='vo2'>
          <a href='__ROOT__/upload/files/{$vo2.file_url}'  >
          
          {$vo2.file_name}
          
          </a>
          <br>
        </volist>
        </li>
    </ul>
</div>







        <div>
        <h3 >工单回复</h3>
        <volist name='sa' id='vosa' >
        <div class = "panel panel-default">


          <div class="panel-heading">用户名:{$vosa.user}&nbsp&nbsp&nbsp 时间:{$vosa.time}</div>
          
          <div class="panel-body">
         <p> {$vosa.content}
          
   </p>
          </div>


          <volist name="vosa['img_url']" id='lyvo'>
          <img class="img-rounded"  src='__ROOT__/upload/images/{$lyvo}' style="width: 150px;height: 100px;padding-left: 20px;" onclick="imgDisplay(this)" >
</volist>
<volist name="vosa['file_url']" id='lyvo2' key='k' >
         <div> <a href='__ROOT__/upload/files/{$lyvo2.url}' download="{$lyvo2.name}" style="padding-left: 20px;" >{$lyvo2.name}</a></div>
</volist>

        </div>

        </volist>




<ul class="pagination">
                           {$page}
                        </ul>

        </div>



        <form> 
          <script type="text/plain" name='content' id="myEditor" style="width:100%;height:200px;"></script>

   <div id='quanshangchuan'>      
    <div id="upBox">
       <div id="inputBox"><input type="file" title="请选择图片" id="file" multiple />点击选择图片</div>
       <input type='hidden' class="imgid" id='imgid'  name="imgid" value=''>
         <div id="imgBox">
         </div>
         <input type="button" id="btn" value="上传图片"></br>
         </div>
    <div id="upfBox">
       <div id="inputfBox"><input type="file" title="请选择文件" id="filef" multiple />点击选择文件</div>
       <input type='hidden' class="fileid" id='fileid'  name="fileid" value=''>
      
         <div id="imgfBox">
         </div>
         <input type="button" id="btnf" value="上传文件"></br>
         </div>
</div>
<div id="wrapper" style="display: none;width: 100%">
    <!--进度条容器-->
    <div id="progressbar">
        <!--用来模仿进度条推进效果的进度条元素-->
        <div id="fill"></div>
    </div>
</div>  
          
        </form>

      </div>
    </div>
    <input type="button" id='btnl' class='btn-info'  value="发送">
  </div>
  
</div>

</div>

</div>

</section>
</div>




</body>

<script src='__PUBLIC__/uploadImg/uploadImg.js' type="text/javascript"></script>
<script src='__PUBLIC__/uploadImg/uploadFile.js' type="text/javascript"></script>
  <script type="text/javascript">
      var SCOPE = {
        'save_url' : '__ROOT__/index.php/Home?c=OneWork&a=checkcontent',
        'edit_url' : '__ROOT__/index.php/Home?c=OneWork&a=checkcontent',
      };
    </script>
<script type="text/javascript">
  var um = UM.getEditor('myEditor');


     imgUpload({
        inputId:'file', //input框id
        imgBox:'imgBox', //图片容器id
        buttonId:'btn', //提交按钮id
        upUrl:'/index.php/home/img/ajaxuploadimg',  //提交地址
        data:'file1' //参数名
      });

   fileUpload({
        inputId:'filef', //input框id
        imgfBox:'imgfBox', //图片容器id
        buttonId:'btnf', //提交按钮id
        upUrl:'/index.php/home/file/ajaxuploadfile',  //提交地址
        data:'file1f' //参数名
      });


$('#btnl').click(function(){
  var gid = document.getElementById('getid').value;
  var imgid = document.getElementById('imgid').value;
  var fileid = document.getElementById('fileid').value;
  var liuyancontent =  um.getContent();
  if(!liuyancontent){
    dialog.error('内容不能为空');
    return;
  }
  var data =new FormData();
  data.append('content',liuyancontent);
  data.append('id',gid);
  data.append('imgid',imgid);
  data.append('fileid',fileid);
  var url = SCOPE.save_url;
  var jumpurl = SCOPE.edit_url+'&id='+gid;
  $.ajax({
      type: "POST",
      cache: false,
      processData: false,
      contentType: false,
      async: false,
      url:url,
      data: data,
          success: function(dat) {
          
          return dialog.success('留言成功',jumpurl);
      },
      error:function(dat){
   return dialog.error('上传失败，系统内部错误');
      }
  });
});




$('#setsr').click(function(){
  var gid = document.getElementById('getid').value;

    var status = document.getElementById('status');
var index=status.selectedIndex ;         
 var reallevel = status.options[index].value;

    var rank = document.getElementById('rank');
var index1=rank.selectedIndex ;         
 var realrank= rank.options[index1].value;


 var data =new FormData();
 data.append('status',reallevel);
 data.append('rank',realrank);
 data.append('id',gid);
 url = SCOPE.save_url;
 var jumpurl = SCOPE.edit_url+'&id='+gid;
  $.ajax({
      type: "POST",
      cache: false,
      processData: false,
      contentType: false,
      async: false,
      url:url,
      data: data,
          success: function(dat) {
            console.log(dat);
 return dialog.success('设置成功',jumpurl);
      },
      error:function(dat){
   return dialog.error('设置失败，系统内部错误');
      }
  });
});




//图片灯箱
function imgDisplay(obj) {
  var src = $(obj).attr("src");
  var imgHtml = '<div style="width: 100%;height: 100vh;overflow: auto;background: rgba(0,0,0,0.5);text-align: center;position: fixed;top: 0;left: 0;z-index: 1000;"><img src=' + src + ' style="margin-top: 100px;width: 70%;margin-bottom: 100px;"/><p style="font-size: 50px;position: fixed;top: 30px;right: 30px;color: white;cursor: pointer;" onclick="closePicture(this)">×</p></div>'
  $('body').append(imgHtml);
}
//关闭
function closePicture(obj) {
  $(obj).parent("div").remove();
}

</script>
</html>