<include file="Static/min-header"/>
<div class="wrapper">
  <include file="Static/breadcrumb"/>
  <section class="content">
   <div class="row">
    <div class="col-xs-12">
      <div class="box">

       <!-- /.box-header -->
       <div class="box-body">              
        <div class="row">
          <div class="col-sm-12"> 
     <select id='status' name="status" class="form-control" style="width:200px;">
                  <option <if condition="$onelist['status'] eq 1" >selected="selected" </if> value="1">将工单转至未处理</option>
                  <option <if condition="$onelist['status'] eq 2" >selected="selected" </if>   value="2">将工单转至正在处理</option>
                  <option  <if condition="$onelist['status'] eq 3" >selected="selected" </if> value="3">将工单转至等待回复</option>
                  <option  <if condition="$onelist['status'] eq 4" >selected="selected" </if>  value="4">将工单转至已处理</option>
                </select>
     <select id='rank' name="rank" class="form-control" style="width:200px;">
                  <option <if condition="$onelist['rank'] eq 1" >selected="selected" </if>   value="1">紧急</option>
                  <option <if condition="$onelist['rank'] eq 2" >selected="selected" </if> value="2">高</option>
                  <option  <if condition="$onelist['rank'] eq 3" >selected="selected" </if> value="3">一般</option>
                  <option  <if condition="$onelist['rank'] eq 4" >selected="selected" </if> value="4">低</option>
                </select>
                <input type="button"  class="btn btn-primary" id='setsr' value='提交'>
<input type="hidden" id="getid" value="{$gid}">



            

<div>
            <p 
             <if condition="$onelist['status'] eq 1" > class="label label-danger"
             <elseif condition="$onelist['status']  eq 2"/>class="label label-warning"
             <elseif condition="$onelist['status']  eq 3"/>class="label label-info"
             <elseif condition="$onelist['status']  eq 4"/>class="label label-success"
           </if>

            ><if condition="$onelist['status'] eq 1" >未处理
             <elseif condition="$onelist['status']  eq 2"/>处理中
             <elseif condition="$onelist['status']  eq 3"/>待回复
             <elseif condition="$onelist['status']  eq 4"/>已完成
           </if>
         </p>&nbsp&nbsp&nbsp&nbsp&nbsp

        <p 
     <if condition="$onelist['rank'] eq 1" > class="label label-danger"
             <elseif condition="$onelist['rank']  eq 2"/>class="label label-warning"
             <elseif condition="$onelist['rank']  eq 3"/>class="label label-info"
             <elseif condition="$onelist['rank']  eq 4"/>class="label label-success"
           </if>


         ><if condition="$onelist['rank'] eq 1" >紧急
           <elseif condition="$onelist['rank']  eq 2"/>高
           <elseif condition="$onelist['rank']  eq 3"/>一般
           <else/>低
         </if></p>
</div>

 

<div class = "panel panel-primary" style="margin-top: 50px">
<div class="panel-heading"> <h3 class="panel-title">{$onelist['title']}</h3></div>
<div class="panel-body">
<p>{$onelist.content}
</p>
</div>
<ul class="list-group">
        <li class="list-group-item" <if condition="$il eq 0">style="display: none;"</if>> 
        <volist name='imgarr' id='vo'>
          <img class="img-rounded" src='__ROOT__/upload/images/{$vo}' style="width: 100px;height: 100px;" onclick="imgDisplay(this)">
        </volist>
        </li>
        <li class="list-group-item" <if condition="$fl eq 0">style="display: none;"</if>>
           <volist name='filearr' id='vo2'>
           <div>
          <a href='__ROOT__/upload/files/{$vo2.file_url}'  >
          {$vo2.file_name}
          </a><span> <a href='__ROOT__/upload/files/{$vo2.file_url}'  >
          下载
          </a></span>
          <div>
   
        </volist>
        </li>
    </ul>
</div>







        <div class = "panel panel-primary">
        <div class="panel-heading">
         <h3 class="panel-title">
            工单回复
        </h3>
        </div>

        <if condition='$le eq 0'><p style="text-align: center;"><strong>暂时没有回复内容</strong></p></if>

           <div class="panel-body">

        <volist name='sa' id='vosa' >
        <div class = "panel panel-default">


          <div class="panel-heading">用户名:{$vosa.user}&nbsp&nbsp&nbsp 时间:{$vosa.time}</div>
          
          <div class="panel-body">
         <p> {$vosa.content}
          
   </p>
          </div>
          <ul class="list-group">

          <li class="list-group-item" <if condition="$vosa['img_url'] eq false">style="display: none;"</if>>
      <volist name="vosa['img_url']" id='lyvo'>
          <img class="img-rounded"  src='__ROOT__/upload/images/{$lyvo}' style="width: 100px;height: 100px;" onclick="imgDisplay(this)" >
</volist>

          </li> 
           <li class="list-group-item" <if condition="$vosa['file_url'] eq false">style="display: none;"</if>>
   <volist name="vosa['file_url']" id='lyvo2' key='k' >
         <div> <a href='__ROOT__/upload/files/{$lyvo2.url}' download="{$lyvo2.name}" >{$lyvo2.name}</a></div>
</volist>
           </li> 
          </ul>


 

        </div>

        </volist>




<ul class="pagination">
                           {$page}
                        </ul>
</div>
        </div>



        <form> 
          <script type="text/plain" name='content' id="myEditor" style="width:100%;height:200px;"></script>

   <div id='quanshangchuan'>      
    <div id="upBox">
       <div id="inputBox" class="btn btn-primary"><input type="file" title="请选择图片" id="file" multiple />点击选择图片</div>
       <input type='hidden' class="imgid" id='imgid'  name="imgid" value=''>
         <div id="imgBox">
         </div>
         <input  type="button" id="btn" value="上传图片" class="btn btn-primary" style="display: none;margin-top: 10px;width: 20%;"></br>
         </div>
    <div id="upfBox">
       <div id="inputfBox" class="btn btn-primary"><input type="file" title="请选择文件" id="filef" multiple />点击选择文件</div>
       <input type='hidden' class="fileid" id='fileid'  name="fileid" value=''>
      
         <div id="imgfBox">
         </div>
           <input type="button" id="btnf" value="上传文件" class="btn btn-primary" style="display: none;margin-top: 10px;width: 20%;"></br>
         </div>
</div>

        </form>

      </div>
    </div>
    <input type="button" id='btnl' class="btn btn-primary"  value="发送">
  </div>
  
</div>

</div>

</div>

</section>
</div>




</body>

<script src='__PUBLIC__/uploadImg/uploadImg.js' type="text/javascript"></script>
<script src='__PUBLIC__/uploadImg/uploadFile.js' type="text/javascript"></script>
  <script type="text/javascript">
      var SCOPE = {
        'save_url' : '__ROOT__/index.php/Home?c=OneWork&a=checkcontent',
        'edit_url' : '__ROOT__/index.php/Home?c=OneWork&a=checkcontent',
      };
    </script>
<script type="text/javascript">
  var um = UM.getEditor('myEditor');


     imgUpload({
        inputId:'file', //input框id
        imgBox:'imgBox', //图片容器id
        buttonId:'btn', //提交按钮id
        upUrl:'/index.php/home/img/ajaxuploadimg',  //提交地址
        data:'file1' //参数名
      });

   fileUpload({
        inputId:'filef', //input框id
        imgfBox:'imgfBox', //图片容器id
        buttonId:'btnf', //提交按钮id
        upUrl:'/index.php/home/file/ajaxuploadfile',  //提交地址
        data:'file1f' //参数名
      });


$('#btnl').click(function(){
  var gid = document.getElementById('getid').value;
  var imgid = document.getElementById('imgid').value;
  var fileid = document.getElementById('fileid').value;
  var liuyancontent =  um.getContent();
  if(!liuyancontent){
    dialog.error('内容不能为空');
    return;
  }
  var data =new FormData();
  data.append('content',liuyancontent);
  data.append('id',gid);
  data.append('imgid',imgid);
  data.append('fileid',fileid);
  var url = SCOPE.save_url;
  var jumpurl = SCOPE.edit_url+'&id='+gid;
  $.ajax({
      type: "POST",
      cache: false,
      processData: false,
      contentType: false,
      async: false,
      url:url,
      data: data,
          success: function(dat) {
          
          return dialog.success('留言成功',jumpurl);
      },
      error:function(dat){
   return dialog.error('上传失败，系统内部错误');
      }
  });
});




$('#setsr').click(function(){
  var gid = document.getElementById('getid').value;

    var status = document.getElementById('status');
var index=status.selectedIndex ;         
 var reallevel = status.options[index].value;

    var rank = document.getElementById('rank');
var index1=rank.selectedIndex ;         
 var realrank= rank.options[index1].value;


 var data =new FormData();
 data.append('status',reallevel);
 data.append('rank',realrank);
 data.append('id',gid);
 url = SCOPE.save_url;
 var jumpurl = SCOPE.edit_url+'&id='+gid;
  $.ajax({
      type: "POST",
      cache: false,
      processData: false,
      contentType: false,
      async: false,
      url:url,
      data: data,
          success: function(dat) {
            console.log(dat);
 return dialog.success('设置成功',jumpurl);
      },
      error:function(dat){
   return dialog.error('设置失败，系统内部错误');
      }
  });
});




//图片灯箱
function imgDisplay(obj) {
  var src = $(obj).attr("src");
  var imgHtml = '<div style="width: 100%;height: 100vh;overflow: auto;background: rgba(0,0,0,0.5);text-align: center;position: fixed;top: 0;left: 0;z-index: 1000;"><img src=' + src + ' style="margin-top: 100px;width: 70%;margin-bottom: 100px;"/><p style="font-size: 50px;position: fixed;top: 30px;right: 30px;color: white;cursor: pointer;" onclick="closePicture(this)">×</p></div>'
  $('body').append(imgHtml);
}
//关闭
function closePicture(obj) {
  $(obj).parent("div").remove();
}

</script>
</html>